body{
    background-color: greenyellow;
}
.liste{
    background-color: aqua;
    font-size: 40px;
}
.principale{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.welcome{
   color: white;
}
.effacer{
    background-color: red;
    width: 80px;

}
.ajoute{
    background-color: green;
    width: 80px;

}
.modifier{
    background-color: blue;
    width: 80px;
}